* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #8682e0;
    background-image: linear-gradient( #3729918c, #8382a5);    
    background-attachment: fixed;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header, main, section, article {
    max-width: 700px;
}

header > h1 {
    color: white;
}

section{
    width: 35rem;
}

main, section {
    background-color: white;
    margin-bottom: 20px;
    border-radius: 10px;
}

/* ELEMENTOS DE FORMULÁRIO */

form {
    background-color: rgba(41, 95, 145, 0.2);
    padding: 15px;
    border-radius: 10px;
}

input {
    width: 100%;
    padding: 10px 20px;
    font-size: 1em;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
}
  
input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin: 5px 0;
    border-radius: 50px;
    cursor: pointer;
}
